html,

a {color: white;
   font-size: 20;}
	
a:hover
	{font-style: italic;
	color: blue;
	font-size: 21;}

body
	{background: url("http://nsa38.casimages.com/img/2015/10/14/151014112805599977.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	font-family: 'Lobster', cursive;
	color: white;
	text-align:center;}
	
div
	{background-color: rgba(122, 192, 192, 0.15);
	border-radius: 10px;
	border: 1px solid white;
	border-color: white;
	margin: 50px;}
	
p
	{font-size: 20;
	margin: 5px;}
